@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BMHannaPro';
  src: url('@/assets/BMHANNAPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
